<!DOCTYPE html>
<html>

<head>
  <title>FundingHub</title>
  <base href="." />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
  <script src="./fundingHub.js"></script>
</head>
<body ng-app="fundingHubApp" ng-controller="fundingHubController">
  <h1>FundHub</h1>
  <br>
  <br><label for="fundhubAddress">FundHub Address:</label><input type="text" id="fundhubAddress" ng-model="fundhubAddress" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></input>

  <br><br><button id="create-project" ng-click="createProject(fundhubAddress, ownerAddress, targetFunding, deadlineUnixTimeStamp)">Create Project</button>
  <br><label for="ownerAddress">Project Owner Address:</label><input type="text" id="ownerAddress" ng-model="ownerAddress" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></input>
  <br><label for="targetFunding">Target Funding (ether):</label><input type="text" id="targetFunding" ng-model="targetFunding" placeholder="e.g., 4.5"></input>
  <br><label for="deadlineUnixTimeStamp">Deadline (unix timestamp):</label><input type="text" id="deadlineUnixTimeStamp" ng-model="deadlineUnixTimeStamp" placeholder="e.g., 1481756685"></input>
  <br>Project Address: <span id="projectAddress">{{ projectAddress }}</span>

  <br><br><button id="browse-projects" ng-click="browseProjects(fundhubAddress)">Browse Projects</button>

  <br><br><button id="contribute-project" ng-click="contribute(fundhubAddress, projectAddress, contributionEither)">Contribute Project</button>
  <br><label for="projectAddress">Project Address:</label><input type="text" id="projectAddress" ng-model="projectAddress" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></input>
  <br><label for="contributionEither">Contribution Funding (ether):</label><input type="text" id="contributionEither" ng-model="contributionEither" placeholder="e.g., 4.5"></input>

  <br><br>
  <span id="userStatus">{{ userStatus }}</span>
</body>
</html>
